

<div class="title-service" style="
background: url('<%= @service.image_url %>') no-repeat bottom center fixed;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  position: relative;">

  <div class="picture-gradient"></div>

  <h2> <%= @service.name %> </h2>
</div>

<div class="container-thin">
  <div class="fr-view">
    <%= @service.description.html_safe   %>
  </div>

 <div class="toolbar"> 
  <%= link_to edit_service_path do %> <i class="fa fa-pencil-square-o"></i> <% end %> | <%= link_to  @service, method: :delete, data: {confirm: "Are you sure you want to delete this?"} do %> <i class="fa fa-trash-o"></i> <% end %>
  </div>
</div>  