

<div class="title-service" style="background: url('<%= @service.image_url %>') no-repeat bottom center fixed;">

  <div class="picture-gradient"></div>

  <h2> <%= @service.name %> </h2>
</div>

<div class="container-thin">
  <div class="fr-view">
    <%= raw sanitize(simple_format(@service.description), :tags => %w(br p) )  %>
  </div>

  <%= link_to "Edit", edit_service_path %> | <%= link_to "x Delete", @service, method: :delete, data: {confirm: "Are you sure you want to delete this?"} %>
</div>  