<div class="container-medium-post">

  <h1> News </h1>


  
  <% @post.each do |post| %>
    
    <div class="post">

      <%= link_to "/posts/#{post.id}" do %>

        
        <div class="post-image-container">
          <%= image_tag(post.image) %>
        </div>

        <div class="post-info-container">
          <h3><%= post.title %> </h3>
          <p><%= post.author %><p>
            <%= post.preview %>
        </div>

      

      <% end %>
    </div>


  <% end %>

  <div class="toolbar">
    <%= link_to "+ Add a new post", new_post_url %> | Click on any post to edit
  </div>

</div>