  <div class="post-title" style ="background: url('<%=@post.image %>') no-repeat center center fixed;">
    <div class="picture-gradient"></div>
      <div class="container-medium">
        <h2><%= @post.title %></h2>
        <p><strong>By <%= @post.author %> </strong></p>
      </div>
  
</div>

<div class="container-medium">
  
    <h4><%= @post.date %></h4>
  
  <div class="fr-view">
    <%= @post.content.html_safe %>
  </div>

   <div class="toolbar"> 
  <%= link_to edit_post_path do %> <i class="fa fa-pencil-square-o"></i> <% end %> | <%= link_to  @post, method: :delete, data: {confirm: "Are you sure you want to delete this?"} do %> <i class="fa fa-trash-o"></i> <% end %>
  </div>
</div>

